.container {
    --color-bg-default: rgb(var(--color-surface-700));
    --color-bg-unavailable: rgb(var(--color-surface-900));
    --color-bg-inrange: rgb(var(--color-primary-900));
    --color-fg-default: rgb(var(--color-surface-200));
    --color-fg-accent: rgb(var(--color-primary-600));
    --color-fg-selected: rgb(var(--color-surface-50));
    --color-fg-muted: rgb(var(--color-secondary-800));
    --color-fg-primary: rgb(var(--color-primary-600));
    --color-bg-secondary: rgb(var(--color-surface-900));
    --color-fg-secondary: rgb(var(--color-secondary-500));
    --color-bg-locked: rgb(var(--color-surface-900));
    --color-fg-locked: rgb(var(--color-surface-500));
    --color-bg-tooltip: rgb(var(--color-surface-100));
    --color-fg-tooltip: rgb(var(--color-surface-900));
    --color-btn-primary-bg: #fff;
    --color-btn-primary-fg: #6b82ff;
    --color-btn-primary-border: #6b82ff;
    --color-btn-primary-hover-bg: #6b82ff;
    --color-btn-primary-hover-fg: #fff;
    --color-btn-primary-hover-border: #6b82ff;
    --color-btn-primary-disabled-bg: #a2b0ff;
    --color-btn-primary-disabled-fg: #fff;
    --color-btn-primary-disabled-border: #a2b0ff;
    --color-btn-secondary-bg: #fff;
    --color-btn-secondary-fg: rgb(var(--color-tertiary-300));
    --color-btn-secondary-border: #748194;
    --color-btn-secondary-hover-bg: #748194;
    --color-btn-secondary-hover-fg: #fff;
    --color-btn-secondary-hover-border: #748194;
    --color-btn-secondary-disabled-bg: #b5bbc4;
    --color-btn-secondary-disabled-fg: #fff;
    --color-btn-secondary-disabled-border: #b5bbc4;
    --color-border-default: #ddd;
    --color-border-locked: #f9f9f9;
    --border-radius: var(--theme-border-base);
    --day-width: 48px;
    --day-height: 40px;
}
